.products {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.products__img {
  width: auto;
  max-height: 20rem;
  display: block;
  margin: auto;
}

.products__item {
  width: 100%;
}

@media (min-width: 600px) {
  .products__item {
    width: 45%;
  }
}

@media (min-width: 1200px) {
  .products__item {
    width: 30%;
  }
}

@media (min-width: 1800px) {
  .products__item {
    width: 18%;
  }
}
